<div class="bouncing-blobs-container">
  <div class="bouncing-blobs-glass"></div>
  <div class="bouncing-blobs">
    <div class="bouncing-blob bouncing-blob--blue"></div>
    <div class="bouncing-blob bouncing-blob--blue"></div>
    <div class="bouncing-blob bouncing-blob--blue"></div>
    <div class="bouncing-blob bouncing-blob--white"></div>
    <div class="bouncing-blob bouncing-blob--purple"></div>
    <div class="bouncing-blob bouncing-blob--purple"></div>
    <div class="bouncing-blob bouncing-blob--pink"></div>
  </div>
</div>
<div class="hero">
  <div style="margin-top: 100px"><h2>Welcome to TradeU</h2>
    <p style="margin-left: 85px;">Explore our range of services tailored to meet your needs.</p>
  </div>


  <div style="display: flex; flex-direction: column; align-items: center; margin-top: 250px;">
    <h3 style="font-size: 50px">Our services</h3>
    <div style="display: flex;">
      <figure class="snip1256" style="margin-right: 10px; border: 2px solid black; padding: 10px;">
        <img src="assets/edu.png" alt="sample42"/>
        <figcaption>
          <h5>Looking For ancient exams, courses or even Classwors, you're in the right place</h5>
          <a href="/market" class="read-more">Order Now</a>
        </figcaption>
      </figure>
      <figure class="snip1256" style="margin-right: 10px; border: 2px solid black; padding: 10px;">
        <img src="assets/cal.png" alt="sample42"/>
        <figcaption>
          <h5>Need to have a study time, present your project, We offer classes</h5>
          <a href="/addreservation" class="read-more">Book Now</a>
        </figcaption>
      </figure>
      <figure class="snip1256" style="border: 2px solid black; padding: 10px;">
        <img src="assets/com.png" alt="sample42"/>
        <figcaption>
          <h5>Looking for something and not sure who to ask about, Who's better than the community itself</h5>
          <a href="/forum" class="read-more">Ask Now</a>
        </figcaption>
      </figure>
    </div>
  </div>

</div>
