.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 70%;
  margin-bottom: 20px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.label {
  font-size: 1rem;
  font-weight: bold;
}

.field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.date-group {
  display: flex;
  justify-content: space-between;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.add-question-btn
{
  padding: 10px 20px;
  background-color: #344ef8 ;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
.submit-btn {
  padding: 10px 20px;
  background-color: #00c900 ;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
} 
.remove-question-btn
{
  padding: 10px 20px;
  background-color: #FF0000 ;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.add-question-btn:hover,
.submit-btn:hover {
  background-color: #0056b3;
}

.submit-btn {
  margin-top: 10px;
}

.form-value {
  margin-top: 20px;
  font-style: italic;
  color: #888;
}
