<!-- Created By CodingNepal -->

<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login Form Design | CodeLab</title>
      <link rel="stylesheet" href="resetpassword.component.scss">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Reset password
         </div>
         <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">ReEnter your email:</label>
                <input type="email" id="email" formControlName="email" class="field" required>
                <!-- Ajouter formControlName pour lier le champ d'email au formulaire -->
                <label for="text">Enter the code received on phone:</label>
                <input type="text" id="code" formControlName="code" class="field" required>
                <!-- Ajouter formControlName pour lier le champ de code au formulaire -->
                <label for="text">Enter your new password</label>
                <input type="password" id="newpsw" formControlName="newPassword" class="field" required>
                <!-- Ajouter formControlName pour lier le champ du nouveau mot de passe au formulaire -->
            </div>
            <div class="field">
                <input type="submit" value="send" [disabled] ="resetForm.invalid">
    
             </div></form></div></body></html>

